<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>


<!-- <img id="dice" src="https://bit.ly/dice-unknown"/>
<div (click)="rollThatDice()">Roll That Dice</div> -->

<!-- <ion-button (click)="junk()" > junk</ion-button> -->


  
</ion-content>
