ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}





@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
body {
  width: 100vw;
  height: 100vh;
  font-family: "Indie Flower", sans-serif;
  background-color: #303030;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-size: 25vh;
}

@-webkit-keyframes spindice {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

@keyframes spindice {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
img {
  width: 40vh;
  padding: 5vh;
  -webkit-animation: none;
          animation: none;
}

div {
  font-size: 10vh;
  color: #fff;
  background-color: #d72e2e;
  height: auto;
  border: none;
  padding: 5vh 10vh;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
div:hover {
  background-color: #fff;
  color: #303030;
}
