<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>passqword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating"> Tamanho da senha </ion-label>
    <ion-input [(ngModel)]="passwordLength" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Gerar quantos resultados </ion-label>
    <ion-input [(ngModel)]="howManyResults" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Letras maiusculoas</ion-label>
    <ion-toggle [(ngModel)]="uppercaseLetters"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Letras minuscolas</ion-label>
    <ion-toggle [(ngModel)]="lowercaseLetters"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>numero</ion-label>
    <ion-toggle [(ngModel)]="showNumbers"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>caracteres especiais</ion-label>
    <ion-toggle [(ngModel)]="specialChars"></ion-toggle>
  </ion-item>

  <ion-button (click)="generatePassword()"> generatePassword </ion-button>

  <p *ngFor="let result of results">
    {{ result }}
  </p>

  

</ion-content>
